*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header{
width: 100%;
height: 6vh;
background-color: #262626;
}
.item-2{
    float: left;
    width: 40%;
    height: 6vh;
    padding-top: 10px;
    margin-left: 90px;
    /* background-color: rgb(57, 225, 96);  */
}
.heading-text a{
    font-size: 0.90rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display:inline-block;
}
.colorful{
    font-size: 1.1rem;
    color:rgb(234, 129, 17);
}
#headeing-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}
.login-btn{
    font-size: 0.90rem;
    font-weight: 600;
    padding: 6px 40px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    color: black;
}
.login-btn:hover{
    color: #ffffff;
    transition: all;
    transition-duration: 1s;
    background-color: rgb(54, 123, 192);
}
.content-container{
 width: 100%;
height: 120vh;
background-color: #164969;
}
.navigation{
    width: 100%;
    height: 14vh;
    padding: 0px 80px;
    background-color: #ABCBE9;
}
.logo-img{
    float: left;
    width: 8%;
    height: 14vh;
    background-color: #6B9DBD;
}
.logo-img img{
    width: 100%;
    height: 100%;
}
.links-btns{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    width: 70%;
    height: 14vh;
    float: left;
}
.links-tag{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
.links-tag:hover{
   color: rgb(54, 123, 192);
   /* transition: all; */
   /* transition-duration: 0.8s; */
}
.contact-us{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 22%;
    height: 14vh;
    float: left;
    position:relative;
}
.contact-btn{
    font-size: 0.95rem;
    font-weight: 600;
    padding: 20px 60px;
    border-radius: 10px;
    border: none;
}
.contact-btn:hover{
    color: #ffffff;
    background-color: rgb(54, 123, 192);
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
.dropdown-content{
    position: absolute;
    background-color:#f1f1f1 ;
    width:100px;
    height:9vh;
    top:11vh;
    right:2vh;
    border-radius:5px;
    display:none;
}
.contact-us-dropdown-link{
    color:black;
    text-decoration: none;
    padding:4px;
    display: inline-block;
}
.contact-us-dropdown-link:hover{
    background-color: rgb(67, 141, 185);
}
 .contact-us:hover .dropdown-content{
    display:block;
}

.image-box{
    float: left;
    width: 49.99%;
    height: 88vh;
    margin-top: 20px;
    /* background-color: aquamarine; */
}
.image-text-box{
    width: 60%;
    height: 16vh;
    padding: 20px;
    margin:5px auto;
    /* background-color: aqua; */
}
.text-box{
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
}
.images{
    position: relative;
    width: 99.99%;
    height: 70vh;
    /* background-color: red; */
}
img{
    width: 100%;
    height: auto;
}
#images-1{
    position: absolute;
    left: 50%;
    width: 170px;
    box-shadow: 5px 5px 12px 6px white;
} 
#images-2{
    position: absolute;
    left: 34%;
    top: 27%; 
    box-shadow: 5px 5px 12px 6px white;
    width: 120px;
}
#images-3{
    position: absolute;
    left: 52%;
    top: 34%;
    width: 180px;
    box-shadow: 10px 10px 20px 10px white;
}
#images-4{
    position: absolute;
    left: 36%;
   bottom: 0px;
    width: 140px;
    box-shadow: 5px 5px 12px 6px white;
}
.form-box{
    float: left;
    width: 49.99%;
    height: 88vh;
    margin-top: 20px;
    /* background-color: rgb(232, 127, 255);  */
}
.form{
    width: 56%;
    height: 70vh;
    margin: auto;
    padding-top: 40px;
    border-radius: 12px;
    background-color: #ABCBE9;
    border: 1px solid black;
}
.text-box{
    font-size: 1.4rem;
    font-weight: 600;
}
.form-colorful{
    font-size: 1.4rem;
    font-weight: 600;
    color:rgb(234, 129, 17);
    /*padding:6px 0px;*/
}
.form-text-box{
    width: 60%;
    height: 16vh;
   padding: 20px 20px;
    margin:2px auto;
    /* background-color: aqua; */
}
.form-inner-heding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-inner-text-1{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 0px;
    color: rgb(25, 125, 224);
}
.form-inner-text-2{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px 0px 30px 0px;
    color:rgb(248, 130, 5);
}
input{
    display:block;
    width: 88%;
    height: 5vh;
    padding: 0px 20px;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    margin:12px auto;
}
select{
    display:block;
    width: 88%;
    height: 5vh;
    padding: 0px 20px;
    font-size: 1.1rem;
    border-radius: 20px;
    margin:12px auto;
    border: none;
    outline: none;
    color: black;
}

option{
    color: grey;
}
.btn-section{
    display:block;
    width: 88%;
    padding: 10px 20px;
    margin:6px auto;
    /* background-color: aqua; */
}
.submit{
    display:block;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 14px;
    border: none;
    background-color:#ffffff;
    cursor: pointer;
    padding: 12px 35px;
}
.submit:hover{
    color: #ffffff;
    background-color: rgb(54, 123, 192);
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
.messege-text{
    display:block;
    width: 100%;
    height: 20vh;
    margin:0px auto;
    background-color:#6B9DBD;
    border-top:4px solid #6B9DBD;
    border-bottom:4px solid #262626;
}
.messege-image-box{
    width: 34%;
    float: left;
    height: 19vh;
    overflow: hidden;
    border-top:3px solid rgb(248, 130, 5);
    border-top-right-radius: 65%;
    border-right:16px solid #262626;

}
.messege-image-1{
    width:100%;
    float: left;
    height: 19vh;
    overflow: hidden;
    /* border: 0.5px solid black; */
    background-color: #6B9DBD;
}
.messege-image-1 img{
    width:100%;
    height: 100%;
    object-fit: fill;
}
.messege-text-box{
    width: 66%;
    float: left;
    height: 18vh;
    padding: 10px 50px;

}
.messege-text-normal{
    font-size: 1.4rem;
    font-weight: 600;
}
.messege-text-colorful{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 0px;
    color:#ffffff;
}
.pictures{
    width:100%;
    height: 70vh;
    padding-top: 85px;
    background-image: url(images/background-image.webp);
    background-size: cover;

}
.item-4{
    float: left;
    width:24.99%;
    height: 44vh;
    padding-top: 10px;
    /* background-color: beige; */
}
.item-4-images{
    width:90%;
    height: 30vh; 
    padding:16px 20px;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
    background-color:white;
}
#item-4-box{
    padding: 10px 80px 10px 20px;
}
.item-4-images img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.item-4-text{
    width:80%;
    height: 12vh; 
    margin: auto;
    padding-top: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    /* border: 0.1px solid black; */
}

.footer-section{
    width: 100%;
    height: 42vh;
    padding: 6px 0px 6px 0px;
    /* border: 0.5px solid black; */
}
.footer-row{
    width: 100%;
    height: 40vh;
    border-top: 3px solid #F6F7FB;
    border-bottom: 3px solid #F6F7FB;
    padding: 2px 20px;
    background-color: #262626;
}
.footer-item4{
    float: left;
    width: 24.99%;
    padding: 20px 40px 0px 0px ;

}
.footer-heading{
    color: #ffffff;
}
 ul{
    list-style: none;
}
.fulladdress{
    margin: 20px 0px;
    color: #ffffff;
    padding:12px 60px 10px 0px ;
    /* border: 0.5px solid black; */
}
#footer-box1{
    padding: 20px 80px 0px 0px;
    /* border: 0.5px solid black; */
    /* width: 23%; */
}
.footer-link{
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 12px 0px ;
}
#footer-box4{
    padding: 20px 0px;
}
.footer-box4text{
    padding: 5px 0px;
    color: #ffffff;
}
.footer-imgbox{
     float: left;
     width: 100%;
     height: 25vh;
     /* border: 0.5px solid black; */
}
.footer-imgbox1{
    float: left;
    width: 49%;
    padding: 20px 50px 20px 0px;
}
.footer-imgbox2{
    float: left;
    width: 49%;
    padding: 20px 0px;
}
.login-tag{
    font-size: 0.90rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}